<%= form_for(@article, remote: true) do |f| %>
    <!-- Modal -->
    <div class="modal fade" id="mnarticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Article</h4>
          </div>
          <div class="modal-body">
            <%= render 'form' %>
          </div>
          <div class="modal-footer">
            <div class="col-md-12">
              <div class="col-md-6">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="mnarticleclose">Close</button>
              </div>
              <div class="col-md-6">
                <%= f.submit :Create , class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
  <% end %>
</div>

<%= javascript_include_tag 'bootstrap' %>
<script type="text/javascript">
  $('#btnadd').on("click", function(){
        $("#mnarticle").modal('show'); 
         
    });
</script>
